@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@400;700&family=Roboto:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.header-container {
  display: flex;
  width: 100%;
  height: 92px;
  justify-content: space-between;
  background-color: #3c3a39;
  color: #fff;
  align-items: end;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.logo {
  width: 70px;
  height: 24px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin-left: 24px;
  margin-bottom: 12px;
  color: #fff;
  text-decoration: none;
}

.logo-button {
  padding-right: 24px;
  padding-bottom: 18px;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #1c1a19;
  width: 100%;
  height: 590px;
  margin-left: 0;
}

.headline-bigger {
  width: 327px;
  height: 124px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding: 120px 24px 0 24px;
}

.headline-text {
  display: flex;
  width: 327px;
  height: 27px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  align-items: center;
  color: #fff5e1;
  padding: 12px 24px 0 24px;
}

.headline-small-text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  padding: 12px 24px 0 24px;
}

.social-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  width: 200px;
  height: 40px;
  list-style: none;
  gap: 21px;
  margin-left: 24px;
  margin-top: 12px;
}

.background-img {
  background: url(images/background-img.png);
  width: 130px;
  height: 312.03px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: right;
  top: 60.3%;
  right: 0;
}

.middle-page {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 250px repeat(3, auto);
  justify-items: center;
  width: 100%;
  min-height: 90px;
}

.recent-work {
  width: 327px;
  height: 33px;
  display: flex;
  font-family: 'Crete Round', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: 0;
  text-align: left;
  color: #1c1a19;
  margin-top: 100px;
}

.line {
  width: 327px;
  top: 107px;
  border: 1px solid #212121;
  align-items: center;
  margin-left: 0;
  margin-top: 40px;
}

.multi-post {
  width: 327px;
  height: 36px;
  display: flex;
  align-items: center;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
  margin-top: 12px;
}

.middle-page-discription {
  width: 327px;
  height: 147px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  margin-top: 12px;
}

.language1 {
  display: flex;
  list-style: none;
  gap: 12px;
}

.lang-button {
  display: inline-block;
  background-color: #fff;
  border: 2px solid #8993a4;
  color: #091e42;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;
  margin-top: 12px;
}

.see-project1 {
  display: inline-block;
  width: 40%;
  background-color: #ff6b00;
  border: none;
  color: #fff5e1;
  padding: 12px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 17px;
  cursor: pointer;
  margin-top: 12px;
  transition: background-color 0.5s ease-out;
}

.see-project1:hover {
  background-color: #fff5e1;
  color: #f55800;
  border: 2px solid #f55800;
}

.see-project1:active {
  color: #fff5e1;
  background-color: #e05304;
}

.see-project1:disabled {
  background-color: #f4f1f0;
  border: none;
  color: #5b5957;
}

.pages-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(6, 370px);
  justify-items: center;
  width: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  background-image: url(images/background-image.png);
  background-repeat: no-repeat;
  margin-top: 24px;
  width: 327;
  height: 372px;
  margin-left: 5px;
}

.page-header {
  width: 295px;
  height: 81px;
  color: #fff;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  padding-top: 30px;
  padding-left: 13px;
  margin-top: 40px;
}

.page-paragraph {
  width: 301px;
  height: 100px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 12px;
  padding-left: 13px;
}

.page-language {
  display: flex;
  margin-top: 12px;
  padding-left: 13px;
  list-style: none;
}

.page-lang-button {
  background-color: rgba(255, 255, 255, 0.24);
  border: none;
  color: #fff;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 400;
  font-size: 15px;
  margin-right: 12px;
  margin-top: 2px;
}

.page-see-project {
  background-color: #ff6b00;
  border: none;
  color: #fff5e1;
  padding: 12px;
  text-align: center;
  display: inline-block;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  cursor: pointer;
  margin-top: 22px;
  transition: background-color 0.5s ease-out;
}

.page-see-project:hover {
  background-color: #fff5e1;
  border: 2px solid #f55800;
  color: #f55800;
}

.page-see-project:active {
  color: #fff5e1;
  background-color: #e05304;
}

.page-see-project:disabled {
  background-color: #f4f1f0;
  border: none;
  color: #5b5957;
}

.about-me {
  width: 100%;
  height: 1650px;
  background-color: #1c1a19;
  display: flex;
  flex-direction: column;
  padding-top: 120px;
  position: relative;
  margin-top: 180px;
  background-repeat: no-repeat;
}

.about-me-header {
  width: 327px;
  height: 79px;
  color: #ff6b00;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  margin-left: 24px;
}

.about-me-paragraph {
  width: 327px;
  height: 148px;
  color: #f4f5f7;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-top: 12px;
  margin: 5px 24px 0 24px;
}

.get-my-resume-button {
  width: 169px;
  height: 48px;
  font-family: 'Inter', sans-serif;
  background-color: #ff6b00;
  border: none;
  color: #fff5e1;
  padding: 12px;
  text-align: center;
  display: inline-block;
  font-weight: 700;
  font-size: 17px;
  letter-spacing: 0.03em;
  cursor: pointer;
  margin-top: 24px;
  margin-left: 24px;
  transition: background-color 0.5s ease-out;
}

.get-my-resume-button:hover {
  background-color: #fff5e1;
  border: 2px solid #f55800;
  color: #f55800;
}

.get-my-resume-button:active {
  color: #fff5e1;
  background-color: #e05304;
}

.get-my-resume-button:disabled {
  background-color: #f4f1f0;
  border: none;
  color: #5b5957;
}

.background-img2 {
  background: url("images/background-img2.png");
  width: 160px;
  height: 260px;
  background-repeat: no-repeat;
  position: absolute;
  top: 370px;
  right: 0;
}

.about-line {
  width: 327px;
  top: 640px;
  position: absolute;
  border: 1px solid #fff;
  align-items: center;
  margin-left: 24px;
}

.about-skills {
  color: #fff;
  text-align: center;
  margin-top: 350px;
  margin-left: -40px;
}

.about-skill-lang {
  font-family: "InaiMathi", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  list-style: none;
}

.skill-lang {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  padding-top: 24px;
  padding-bottom: 24px;
  list-style: none;
}

.contact {
  width: 375px;
  height: 750px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  margin: 0 auto;
}

.form-paragraph {
  width: 327px;
  height: 216px;
  color: #172b4d;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  padding-top: 50px;
}

form {
  padding-top: 50px;
}

input[type="text"] {
  width: 327px;
  padding: 12px;
  margin: 12px 0;
  display: inline-block;
  border: none;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}

textarea {
  background-color: #fbf8f7;
  border: none;
  width: 303px;
  height: 90px;
  margin-top: 12px;
  font-style: italic;
  padding: 12px;
}

textarea::placeholder {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #3c3a39;
}

.form-submit-con {
  display: flex;
  justify-content: center;
}

input[type="submit"] {
  width: 131px;
  height: 48px;
  background-color: #ff6b00;
  color: #fff5e1;
  border: none;
  padding: 12px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0.03;
  margin-top: 24px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #fff5e1;
  border: 2px solid #f55800;
  color: #f55800;
}

input[type="submit"]:active {
  color: #fff5e1;
  background-color: #e05304;
}

input[type="submit"]:disabled {
  background-color: #f4f1f0;
  border: none;
  color: #5b5957;
}

footer {
  width: 100%;
  height: 50px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.social-icons2 {
  width: 200px;
  height: 40px;
  display: flex;
  padding-top: 24px;
  justify-content: space-between;
  margin: 0 auto;
  list-style: none;
}

.bottom-line {
  height: 5px;
  background-color: #0d151e;
  border: none;
  border-radius: 10px;
  margin-bottom: 8px;
  width: 134px;
  margin-top: 47px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px){
.under-img {
  display: none;
}

.page2-header {
  display: none;
}

.page3-header {
  display: none;
}

.desk-about-me-paragraph {
  display: none;
}

.logo-button-desk {
  display: none;
}


}

/* desktop version */

@media (min-width: 768px) {
  .logo-button-desk {
    display: block;
  }

  .close-menu {
    display: none;
  }

  .nav-bar-desk {
    display: flex;
    justify-content: flex-end;
    margin-right: 151px;
    align-items: center;
    flex: 1;
    list-style: none;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    height: 72px;
    margin: 0;
    padding: 0;
  }

  .nav-link-desk {
    display: block;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    margin-right: 32px;
    text-align: center;
    align-items: center;
    margin-bottom: 26px;
  }

  #features {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .logo-button {
    display: none;
  }

  .logo {
    display: flex;
    width: 84px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 700;
    margin-left: 154px;
    margin-bottom: 26px;
  }

  .headline {
    width: 100%;
    max-width: 1440px;
    height: 798px;
    background-image: url(images/desk-img1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 40%;
    margin: 0;
    padding: 0;
  }

  .headline-bigger {
    width: 566px;
    margin-left: 143px;
    margin-top: 60px;
    order: 1;
  }

  .headline-text {
    width: 566px;
    font-weight: 500;
    font-size: 32px;
    margin-left: 143px;
    margin-top: 24px;
    order: 3;
  }

  .headline-small-text {
    width: 566px;
    height: 123px;
    font-weight: 500;
    font-size: 20px;
    margin-left: 143px;
    margin-top: 24px;
    order: 4;
  }

  .social-icons {
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0.5%;
    right: 96.11%;
    top: 25.37%;
    bottom: 89.19%;
    order: 2;
    margin-top: 140px;
    margin-left: 36px;
    margin-right: 90px;
  }

  .background-img {
    display: none;
  }

  .recent {
    display: flex;
  }

  .middle-page {
    width: 100%;
    max-width: 1440px;
  }

  .recent-work {
    width: 315px;
    font-family: 'Crete Round', sans-serif;
    font-size: 40px;
    margin-right: 24px;
  }

  .line {
    width: 794px;
    height: 0;
    border: 1px solid #212121;
    margin-top: 130px;
  }

  .under-page {
    width: 1156px;
    height: 446px;
    display: flex;
  }

  .first-img {
    display: none;
  }

  .under-img {
    display: block;
  }

  .under-text {
    width: 448px;
    height: 140px;
    margin-left: 24px;
  }

  .pages-container {
    display: grid;
    grid-template-columns: repeat(3, 369px);
    grid-template-rows: repeat(2, 435px);
    justify-items: center;
    column-gap: 24px;
    row-gap: 37px;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  .page {
    display: grid;
  }

  .page-header {
    display: none;
  }

  .page-paragraph {
    display: none;
  }

  .page-language {
    display: none;
  }

  .page-see-project {
    display: none;
  }

  .page1 {
    width: 369px;
    height: 435px;
    display: block;
    background-image: url(images/desk-pages1.png);
  }

  .page1-button {
    width: 369px;
    height: 58px;
    display: inline-block;
    margin-top: 377px;
    text-align: center;
  }

  .page2 {
    width: 369px;
    height: 435px;
    display: block;
    background-image: url(images/desk-pages2.png);
  }

  .page2-header {
    display: flex;
    width: 337px;
    height: 81px;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    padding-left: 13px;
    margin-top: 178px;
  }

  .page2-paragraph {
    display: flex;
  }

  .page2-lang {
    display: flex;
  }

  .page3 {
    width: 369px;
    height: 435px;
    display: flex;
    background-image: url(images/desk-pages3.png);
  }

  .page3-header {
    width: 337px;
    height: 38px;
    display: flex;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    margin-top: 221px;
    padding-left: 13px;
  }

  .page3-paragraph {
    display: flex;
  }

  .page3-lang {
    display: flex;
  }

  .page4 {
    width: 369px;
    height: 435px;
    background-image: url(images/desk-pages4.png);
    display: flex;
  }

  .page4-header {
    display: flex;
    margin-top: 150px;
  }

  .page4-paragraph {
    display: flex;
  }

  .page4-lang {
    display: flex;
  }

  .about-me {
    width: 100%;
    max-width: 1440px;
    height: 1195px;
    display: flex;
    padding: 0;
  }

  .about-me-paragraph {
    display: none;
  }

  .about-me-header {
    margin-left: 142px;
  }

  .desk-about-me-paragraph {
    display: flex;
    width: 566px;
    height: 148px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
    margin-top: 24px;
    margin-left: 142px;
  }

  .get-my-resume-button {
    margin-left: 142px;
  }

  .background-image2 {
    display: none;
  }

  .desk-background-img2 {
    width: 582px;
    height: 352px;
    background-position: right;
    background-image: url(images/desk-imag2.png);
    position: absolute;
    top: 5%;
  }

  .about-line {
    display: flex;
    width: 80%;
    position: absolute;
    border: 1px solid #fff;
    line-height: normal;
    align-items: center;
    margin-left: 142px;
    margin-right: 142px;
    top: calc(40% - 0px / 2 + 0.5px);
  }

  .desk-about-skills {
    display: flex;
    margin-left: 193px;
  }

  .langua {
    display: flex;
    flex-direction: column;
    text-align: start;
  }

  .frame {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-left: 200px;
  }

  .skil {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-left: 200px;
  }

  .sele {
    display: flex;
  }

  .contact {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1440px;
    height: 614px;
    margin: 0;
    padding: 0;
  }

  .form-paragraph {
    display: flex;
    width: 355px;
    height: 256px;
    font-family: 'inter', sans-serif;
    font-size: 32px;
    text-align: start;
    align-items: center;
    margin-left: 135px;
    margin-top: 100px;
    padding: 0;
  }

  form {
    margin-top: 40px;
  }

  input[type="text"] {
    display: flex;
    width: 684px;
    margin-left: 30px;
  }

  textarea {
    width: 658px;
    height: 90px;
    margin-left: 30px;
  }

  .bottom-line {
    display: none;
  }

  input[type="submit"] {
    margin-right: 500px;
  }

  footer {
    width: 100%;
    max-width: 1440px;
  }
}
